<body style="background-color:lightblue;">

<div>
<p id="head">
Yuya's Typing Programme 
</p>
</div>



<div id="word">
<p class="article">Text</p>
<p id="target"></p>
</div>


<div id="write">
<p class="typing">Your Work<p>
<p id="type"></p>
</div>

<div  class="result">
<p class="data">Data</p>
<div>
<p id="accuracy">Accuracy</p>
</div>

<div>
 <p id="speed">Speed</p>
</div>

<div>
<p id="time">Time</p>
</div>

<div id="abcde">
</div>

<div style="display:none">
<%= erb :text %>
</div>

</div>



<script>
   var started = false;
   var time=0;
   var count=0;
   var space=1;
   var numwrong=0;
   var x;
   var tSentence;
   //var str = "<%= text %>";
   var str = document.getElementById("content").innerHTML;
   var scount = 1;
   var sp = String.fromCharCode(10);

   
   
   function timer(){
	 x=setTimeout("timer()",1000);
     time=time+1;
     document.getElementById("time").innerHTML=time;
	 speed();
	 }

   function stoptimer(){
     clearTimeout(x);
   }
   
    function accurate(){
	  var a;
	  var b;
	  a = numwrong + count;
	  b = (count/a)*100 + "%";
	  document.getElementById("accuracy").innerHTML=b;
	}
	
	function speed(){
	  s = space*(60/time);
	  document.getElementById("speed").innerHTML=s + " words/min";
	}
	
   function hideStart(){
  var f = document.getElementById('hide');
  f.style.display = "none";
}
   
   var k = function(ev){
   
     if (!started){
	 timer();
	   //start timer
	   //alert(str.split(sp));
      started=true;
	  //tSentence = str.split("~")[scount]
	  tSentence = str.split(sp)[scount];
	  //alert(tSentence);
	  }
	  
	 var content = document.getElementById("type").innerHTML;
	 var c;
	 if (ev.keyCode == 32){
	   c = " ";
	   space = space + 1;
	 }
	 else if (ev.keyCode == 13){
	   c = "<br />"
	 }
	 else {
	   c = ev.key
	 }
	  
	 //collect target sentence
	 var targetc = tSentence.charAt(count);
	 if (c === targetc) {
	   document.getElementById("type").innerHTML = content + c;
	   count++;
	   document.getElementById("word").style.backgroundColor="lightgreen";
	 }
	 else
	 {
	   //alert('you pushed ' + c + ' actual is ' + tSentence.charCodeAt(count));
       numwrong++;
	   document.getElementById("word").style.backgroundColor="white";
	 }
	 
	 accurate();
	 
	 if (count === tSentence.length){
	    
		if(scount < str.split(sp).length-2)
		{
		  alert('you finished! nice!');
		  reset();
		}
		else
		{
		  alert('You finished!!!');
		  stoptimer();

		}
	  }
	 
   }
   
   function reset(){
      stoptimer();
	  scount++;
	  document.getElementById("target").innerHTML = str.split(sp)[scount];
	  time=0;
	  started=false;
	  count=0;
	  numwrong=0;
	  space=1;
	  document.getElementById("type").innerHTML = "";
   }
   
   document.addEventListener('keypress', k, false);
   document.getElementById("target").innerHTML = str.split(sp)[scount];
   
   
</script>
</body>
