#head{
     color:blue;
	 text-align:center;
	 font-size:40px;
	 font-family:Brush Script Std;
}
#title1{
     margin-left:500px;
	 margin-top:200px;
}
.article{
     text-align:center;
	 color:orange;
	 font-size:25px;
	 font-weight:bold;
}
.typing{
     text-align:center;
	 color:purple;
	 font-size:25px;
	 font-weight:bold;
}
.data{
     text-align:center;
	 color:lightgreen;
	 font-size:25px;
	 font-weight:bold;
}
#word{
     background-color:lightgreen;
	 width:300px;
	 height:359px;
	 position:absolute;
	 left: 38%;
	 margin: 0 0 0 -12%;
	 margin-top:100px;
	 font-size:18px;
	 padding:10px;

}
#write{
     background-color:orange;
	 width:300px;
	 height:359px;
	 overflow:hidden;
	 margin-top:100px;
	 margin-left:55%;
	 position:absolute;
	 font-size:18px;
	 padding:10px;
}
.result{
    font-size:20px;
    background-color:yellow;
	width:250px;
	height:240px;
	padding-left:20px;
	padding-top:10px;
	margin-top:141px;
	margin-left:30px;
}